@page "/products"
@using Shoppi.Client.DTOs.ProductDTOClient
@using Shoppi.Client.Services.Contracts
@inject IProductService ProductService

<h3>Products</h3>

@if (products == null)
{
    <p>Loading...</p>
}
else if (!products.Any())
{
    <p>No products found.</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var p in products)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Price</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<ProductDTOClient>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetProducts();
    }
}